@charset "utf-8";

html, body
{
	background-color: #444444;
	margin: 0px;
	padding: 0px;
	border: none;
	width: 100%;
	height: 100%;
}

body
{
	display: table;
}

section
{
	display: table-cell;
	vertical-align: middle;
}

table
{
	margin: 0px auto;
	border-spacing: 2vmin;
	border-collapse: separate;
}

table
{
	margin: 0px auto;
	border-spacing: 3vmin;
	border-collapse: separate;
}

td
{
	width: 14vmin;
	height: 14vmin;
	border: 1vmin solid #FFFFFF;
	outline: 1vmin solid #FFFFFF;
	background-color: #FFFFFF;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	font-size: 2.5vmin;
	color: #000000;
	text-align: center;
}

td:hover
{
	background-color: #FFFFBB;
}

td.checked
{
	color: #FFFFFF;
	background-color: #000000;
	border-color: #000000;
	outline-color: #000000;
}

td.checked:hover
{
	color: #FFFFBB;
}

td.invalid
{
	outline-color: #FF0000;
}
